@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 100px;
    height: 42px;
}
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #071B55;
    border-radius: 10px;
}

.bar:nth-child(3){
    width: 20px;
    margin-right:0px ;
}

/* .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} */

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: .5s ease;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #23B1D9;
    border-radius: 50%;
    display: inline-block;
  }
.nav-active{
    color: #071B55;
    font-weight: 500;
}

.nav-defult{
    color: #071B55;
    font-weight: 500;
    opacity: 70% ;
}

.contact-link{
    text-decoration: none;
    border: none;
    outline: none;
}

.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color: #071B55;
    color: #ffffff;
    padding: 5px 5px 5px 15px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    
}
.icon{
    background-color: #23B1D9;
    padding: 8px 8px;
    border-radius: 100%;
}
.icon-cls{
    width: 20px;
}

#banner{
    margin-top: 84px;
}

#poster{
    margin-bottom: 107px;
}

.banner-title{
font-weight: 700;
font-size: 38px;
color: #071B55;
}

.banner-description{
color: #071B55;
margin: 10px 0px;
font-weight: 400;
font-size: 17px;
}

/* .banner-img{
width: 500px;
} */

.poster-container{
background-color: #23B1D9;
border-radius: 30px;
}

.poster-content{
    padding: 5px 200px;
    color: #ffffff;
}

.poster-description{
    font-size: 26px;
}
.service-title{
color: #071B55;
font-size: 24px;
font-weight: 500;
}
.service-description{
color: #071B55;
font-size: 15px;
font-weight: 500;
}
.service-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.contant-container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.testimonial-container{
    background-color: #071B55;
    border-radius: 30px;
    }
.fa-quote-left{
    color: #ffffff;

}

.divider{
    width: 100%;
    margin: 30px;
    border-top: 1px solid #DCDDDF;
}

.footer-title{
font-weight: 500;
font-size: 24px;
color: #071B55;
}

footer{
    background: #EBEDEE;
    padding: 40px 0px 10px;
}

.footer-link{
    color:#667085;
     margin-right: 16px;
     text-decoration: none;
}

.testimonial, .testimonial-title{
    display: none;
    animation: fade 5s linear infinite;
}

@keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
  }

.phone-links{
position: fixed;
padding: 20px 0;
left: 0;
top: -100%;
flex-direction: column;
gap: 30px;
background-color: #ffffff;
width: 100%;
text-align: center;
transition: .8s;
}
.banner-img{
    width: 100%;
    height: 100%;
}

.comment{
    font-weight: 500;
    font-size: 25px;
}



.testimonial, .testimonial-title {
    display: none;
  }
  
  .dot-container {
    margin-top: 10px;
  }
  
  .navigation-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff7e;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-dot {
    background-color: #ffffff;
  }
  
  .active-testimonial {
    display: block;
  }


@media screen and (max-width: 991px) {
    .hamburger {
       display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        background: #071B55;
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        width: 30px;
        background: #071B55;
        transform: translateY(-8px) rotate(-45deg);
    }

    .phone-links-active{
        top: 70px;

    }

    #banner{
        margin-top: 112px;
        overflow: hidden;
    }
    .banner-description{
        margin-top: 26px;
    }
    .poster-description{
        font-size: 22px;
        padding: 25px 1px;
    } 

    .banner-img{
        width: 114%;
        height: auto;
    }

    .poster-content{
        font-size: 22px;
        padding: 0px 20px;
        color: #ffffff;
    }
    .logo{
        width: 83.33px;
        height: 35px;
    }
    #poster{
        margin-bottom: 96px;
    }
/* 
    .testimonial-container{
       height: 350px;
       display: flex;
       align-items: center;
       justify-content: center;
        } */
        .service-img{
            min-height: 200px;
        }


        .footer-title{
        font-weight: 500;
        font-size: 20px;
        color: #071B55;
        line-height: 30px;
        }

        .comment{
            font-size: 20px;
        }
}