@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.nav-active{
    color: #071B55;
    font-weight: 500;
}

.nav-defult{
    color: #071B55;
    font-weight: 500;
    opacity: 50% ;
}

.contact-link{
    text-decoration: none;
    border: none;
    outline: none;
}

.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color: #071B55;
    color: #ffffff;
    padding: 5px 5px 5px 15px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    
}
.icon{
    background-color: #23B1D9;
    padding: 8px 8px;
    border-radius: 100%;
}
.icon-cls{
    width: 20px;
}

.banner-title{
font-weight: 700;
font-size: 38px;
color: #071B55;
}

.banner-description{
color: #071B55;
margin: 10px 0px;
font-weight: 400;
font-size: 17px;
}

/* .banner-img{
width: 500px;
} */

.poster-container{
background-color: #23B1D9;
border-radius: 30px;
}

.poster-content{
    padding: 5px 200px;
    color: #ffffff;
}

.service-title{
color: #071B55;
font-size: 24px;
font-weight: 700;
}
.service-description{
color: #071B55;
font-size: 15px;
font-weight: 500;
}

.contant-container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.testimonial-container{
    background-color: #071B55;
    border-radius: 30px;
    }
.fa-quote-left{
    color: #ffffff;
    
}
@media screen and (max-width: 768px) {
    .poster-content{
        padding: 5px 50px;
        color: #ffffff;
    }
}